## Problem 1 - Controls

In [3]:
%load_ext sql
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: root@mysql'

In [4]:
%sql create database ExamenSara
%sql use ExamenSara

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
1 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [27]:
import pandas as pd
datos1 = pd.read_csv(r'Germplasm.tsv', sep='\t')
datos2 = pd.read_csv(r'LocusGene.tsv', sep='\t')
df1 = pd.DataFrame(dat1, columns= ['Locus','germplasm','phenotype','pubmed'])
df2 = pd.DataFrame(dat2, columns= ['Locus','Gene','ProteinLength'])
Locus1 = df1['Locus']
Locus2 = df2['Locus']

In [29]:
for i in range(len(Locus1)):
    if Locus1[i] != Locus2[i]:
        print ('AGI CODES in diferent order', i)
       
    else:
        print ('AGI CODES SAME ORDER', i)

AGI CODES SAME ORDER 0
AGI CODES SAME ORDER 1
AGI CODES SAME ORDER 2
AGI CODES SAME ORDER 3
AGI CODES SAME ORDER 4
AGI CODES SAME ORDER 5
AGI CODES SAME ORDER 6
AGI CODES SAME ORDER 7
AGI CODES SAME ORDER 8
AGI CODES SAME ORDER 9
AGI CODES SAME ORDER 10
AGI CODES SAME ORDER 11
AGI CODES SAME ORDER 12
AGI CODES SAME ORDER 13
AGI CODES SAME ORDER 14
AGI CODES SAME ORDER 15
AGI CODES SAME ORDER 16
AGI CODES SAME ORDER 17
AGI CODES SAME ORDER 18
AGI CODES SAME ORDER 19
AGI CODES SAME ORDER 20
AGI CODES SAME ORDER 21
AGI CODES SAME ORDER 22
AGI CODES SAME ORDER 23
AGI CODES SAME ORDER 24
AGI CODES SAME ORDER 25
AGI CODES SAME ORDER 26
AGI CODES SAME ORDER 27
AGI CODES SAME ORDER 28
AGI CODES SAME ORDER 29
AGI CODES SAME ORDER 30
AGI CODES SAME ORDER 31

## Problem 2 - Design and create the database

In [30]:
import pymysql

In [31]:
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='ExamenSara')
cursor = connection.cursor()

In [32]:
%sql CREATE TABLE Germplasm (Locus VARCHAR(10) NOT NULL PRIMARY KEY, germplasm VARCHAR(100) NOT NULL, phenotype VARCHAR(1000) NOT NULL, pubmed VARCHAR(10) NOT NULL)
%sql CREATE TABLE LocusGene (Locus VARCHAR(10) NOT NULL PRIMARY KEY REFERENCES Germplasm(Locus), Gene VARCHAR (20) NOT NULL, ProteinLength INT NOT NULL)

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [36]:
%sql DESCRIBE Germplasm
%sql DESCRIBE LocusGene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
3 rows affected.

[('Locus', 'varchar(10)', 'NO', 'PRI', None, ''),
 ('Gene', 'varchar(20)', 'NO', '', None, ''),
 ('ProteinLength', 'int(11)', 'NO', '', None, '')]

## Problem 3 - Fill the database

In [37]:
cols = "`,`".join([str(i) for i in df1.columns.tolist()])
for i,row in df1.iterrows():
    sql = "INSERT INTO Germplasm (`" +cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
    cursor.execute(sql, tuple(row))
    connection.commit()

In [38]:
cols = "`,`".join([str(i) for i in df2.columns.tolist()])
for i,row in df2.iterrows():
    sql = "INSERT INTO LocusGene (`" +cols + "`) VALUES (" + "%s,"*(len(row)-1) + "%s)"
    cursor.execute(sql, tuple(row))
    connection.commit()

In [41]:
%sql SELECT * FROM Germplasm

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
32 rows affected.

[('AT1G01040', 'CS3828', 'Increased abundance of miRNA precursors.', '17369351'),
 ('AT1G01060', 'lhy-101', 'The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant.', '16891401'),
 ('AT1G01140', 'SALK_058629', 'hypersensitive to low potassium media', '17486125'),
 ('AT1G01220', 'SALK_012400C', 'fkgp-1 mutants have about 40 times more L-fucose than wild type Arabidopsis plants, but the levels of other monosaccharides do not appear to differ s ... (41 characters truncated) ... henotypic abnormalities were observed in the fkgp-1 mutants, nor were any differences in the sugar composition of cell wall polysaccharides detected.', '18199744'),
 ('AT2G03720', 'SALK_042433', 'Multiple straight hairs', '16367956'),
 ('AT2G03800', 'gek1-1', 'Ethanol hypersensitivity.', '15215505'),
 ('AT2G04240', 'xerico', 'Resistant to exogenous ABA. Seeds contained lower amounts of endogenous ABA than wildtype.', '17933900'),
 ('AT2G05210', 'pot1-1', 'No visible phenotype.', '17627276'),
 ('AT3G02130', 'rpk2-2', 'The homozygous progeny is indistinguishable from wild-type plants during vegetative growth but showed several morphological alterations after bolting. These plants displayed enhanced inflorescence branching and formed three times as many siliques and flowers as did wild-type plants.', '17419837'),
 ('AT3G02140', 'afp4-1', 'Decreased germination on high concentrations of glucose and sorbitol.', '18484180'),
 ('AT3G02230', 'rgp1-1', 'rgp1-1 mutants have significantly lower levels of UDP-L-arabinose mutase activity compared to wild-type plants and significantly lower levels of arabinose in their cell walls.', '21478444'),
 ('AT3G02260', 'tir3-1 RGLG1:rglg1 rglg2', 'The triple homozygous progeny has low viability, accumulated anthocyanin, and all plants died before shoot emergence.', '17586653'),
 ('AT3G02310', 'sep2-1', 'Non-described subtle phenotype.', '10821278'),
 ('AT3G02680', 'atnbs1-1', 'Significantly smaller when grown in the presence of methyl methanosulfonate (MMS) with root growth.  Normal growth under standard growth conditions.', '17672843'),
 ('AT3G02850', 'CS3816', 'The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.', '17568770'),
 ('AT3G02870', 'vtc4-1', 'ascorbate deficient', '16595667'),
 ('AT3G03260', 'hdg8-1', 'No visible phenotype.', '16778018'),
 ('AT4G14790', 'pdd17', 'Defective pollen development.', '19237690'),
 ('AT4G15210', 'bmy1-2', 'Plants cold-shocked for 6h have an increased starch content compared to wildtype.', '16297066'),
 ('AT4G15560', 'cla1-1', 'Mutant seeds grown on medium supplemented with non-phosphorylated synthetic 1-deoxy-D-xylulose (DX) develop green leaves.', '10982425'),
 ('AT4G15570', 'maa3', 'Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.', '18772186'),
 ('AT4G15802', 'Athspb-2', 'Early flowering, reduced fertility, aborted seeds.', '20388662'),
 ('AT4G15880', 'esd4-2', 'Decreased mRNA levels of the floral repressors FLC and MAF4 and increased mRNA levels of the floral activators FT and SOC1.', '17513499'),
 ('AT4G16420', 'prz1-1', 'Altered response to auxin and cytokinin', '12747832'),
 ('AT4G16480', 'atint4-2', 'No visible phenotype.', '16603666'),
 ('AT5G10480', 'pas2-3', 'Segregates 25% embryo lethal.', '18799749'),
 ('AT5G10510', 'plt3-1', 'Short roots and shortened root meristem.', '17960244'),
 ('AT5G11110', 'kns2', 'Defects are specific to pollen exine structure. Smaller mesh size in the exine structure. Increased number of baculae. Fully fertile.', '18779216'),
 ('AT5G11260', 'hy5-101', 'Under FRc conditions, the length mutant hypocotyls is increased compared to that of wild-type plants.  Under Rc conditions, the hypocotyl length is also increased and the cotyledon area is smaller.', '16891401'),
 ('AT5G11510', 'myb3r4-1', 'No visible phenotype.', '17287251'),
 ('AT5G12200', 'pyd2-2', 'The pyd2-2 mutant has a wild-type appearance under normal growth conditions. Pyrimidine nucleotide and uridine levels are not changed in the mutant, but uracil levels are increased. These mutants cannot grow normally when uracil is provided as a sole nitrogen source.', '19413687'),
 ('AT5G13290', 'crn-1', 'Increased meristem size. Vegetative meristems are are 30% larger than wild type. After bolting inflorescence meristems are enlarged and occasionally fasciated. Flowers occasionally produce extra organs in the first 3.', '12345678')]

In [42]:
%sql SELECT * FROM LocusGene

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
32 rows affected.

[('AT1G01040', 'DCL1', 332),
 ('AT1G01060', 'LHY', 290),
 ('AT1G01140', 'CIPK9', 223),
 ('AT1G01220', 'FKGP', 190),
 ('AT2G03720', 'MRH6', 189),
 ('AT2G03800', 'GEK1', 196),
 ('AT2G04240', 'XERICO', 256),
 ('AT2G05210', 'POT1A', 221),
 ('AT3G02130', 'RPK2', 284),
 ('AT3G02140', 'TMAC2', 300),
 ('AT3G02230', 'RGP1', 301),
 ('AT3G02260', 'BIG', 279),
 ('AT3G02310', 'SEP2', 175),
 ('AT3G02680', 'NBS1', 190),
 ('AT3G02850', 'SKOR', 234),
 ('AT3G02870', 'VTC4', 311),
 ('AT3G03260', 'HDG8', 194),
 ('AT4G14790', 'SUV3', 312),
 ('AT4G15210', 'BAM5', 313),
 ('AT4G15560', 'DXS', 219),
 ('AT4G15570', 'MAA3', 294),
 ('AT4G15802', 'HSBP', 254),
 ('AT4G15880', 'ESD4', 265),
 ('AT4G16420', 'ADA2B', 279),
 ('AT4G16480', 'INT4', 284),
 ('AT5G10480', 'PAS2', 301),
 ('AT5G10510', 'AIL6', 310),
 ('AT5G11110', 'SPS2', 232),
 ('AT5G11260', 'HY5', 221),
 ('AT5G11510', 'MYB3R-4', 336),
 ('AT5G12200', 'PYD2', 310),
 ('AT5G13290', 'CRN', 189)]

## Problem 4 - Create reports, written to a file

In [64]:
def reports (sql,printe):
    cursor.execute(sql)
    results = cursor.fetchall()
    f = open('Problem4reportSARATM.txt','a')
    for row in results:
        print(row)
        s = str(row)
        f.write(s)
    x = str(printe)
    f.write(x)
    f.close

In [65]:
query1 = 'SELECT * FROM Germplasm, LocusGene WHERE Germplasm.Locus = LocusGene.Locus'
reports(query1, '\tEjercicio 4 apartado 1\n\n\n')

('AT1G01040', 'CS3828', 'Increased abundance of miRNA precursors.', '17369351', 'AT1G01040', 'DCL1', 332)
('AT1G01060', 'lhy-101', 'The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant.', '16891401', 'AT1G01060', 'LHY', 290)
('AT1G01140', 'SALK_058629', 'hypersensitive to low potassium media', '17486125', 'AT1G01140', 'CIPK9', 223)
('AT1G01220', 'SALK_012400C', 'fkgp-1 mutants have about 40 times more L-fucose than wild type Arabidopsis plants, but the levels of other monosaccharides do not appear to differ significantly in the mutants. No obvious phenotypic abnormalities were observed in the fkgp-1 mutants, nor were any differences in the sugar composition of cell wall polysaccharides detected.', '18199744', 'AT1G01220', 'FKGP', 190)
('AT2G03720', 'SALK_042433', 'Multiple straight hairs', '16367956', 'AT2G03720', 'MRH6', 189)
('AT2G03800', 'gek1-1', 'Ethanol hypersensitivity.', '15215505', 'AT2G03800', 'GEK1', 196)
('AT2G04240', 'xerico', 'Resistant to exogenous ABA. Seeds contained lower amounts of endogenous ABA than wildtype.', '17933900', 'AT2G04240', 'XERICO', 256)
('AT2G05210', 'pot1-1', 'No visible phenotype.', '17627276', 'AT2G05210', 'POT1A', 221)
('AT3G02130', 'rpk2-2', 'The homozygous progeny is indistinguishable from wild-type plants during vegetative growth but showed several morphological alterations after bolting. These plants displayed enhanced inflorescence branching and formed three times as many siliques and flowers as did wild-type plants.', '17419837', 'AT3G02130', 'RPK2', 284)
('AT3G02140', 'afp4-1', 'Decreased germination on high concentrations of glucose and sorbitol.', '18484180', 'AT3G02140', 'TMAC2', 300)
('AT3G02230', 'rgp1-1', 'rgp1-1 mutants have significantly lower levels of UDP-L-arabinose mutase activity compared to wild-type plants and significantly lower levels of arabinose in their cell walls.', '21478444', 'AT3G02230', 'RGP1', 301)
('AT3G02260', 'tir3-1 RGLG1:rglg1 rglg2', 'The triple homozygous progeny has low viability, accumulated anthocyanin, and all plants died before shoot emergence.', '17586653', 'AT3G02260', 'BIG', 279)
('AT3G02310', 'sep2-1', 'Non-described subtle phenotype.', '10821278', 'AT3G02310', 'SEP2', 175)
('AT3G02680', 'atnbs1-1', 'Significantly smaller when grown in the presence of methyl methanosulfonate (MMS) with root growth.  Normal growth under standard growth conditions.', '17672843', 'AT3G02680', 'NBS1', 190)
('AT3G02850', 'CS3816', 'The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.', '17568770', 'AT3G02850', 'SKOR', 234)
('AT3G02870', 'vtc4-1', 'ascorbate deficient', '16595667', 'AT3G02870', 'VTC4', 311)
('AT3G03260', 'hdg8-1', 'No visible phenotype.', '16778018', 'AT3G03260', 'HDG8', 194)
('AT4G14790', 'pdd17', 'Defective pollen development.', '19237690', 'AT4G14790', 'SUV3', 312)
('AT4G15210', 'bmy1-2', 'Plants cold-shocked for 6h have an increased starch content compared to wildtype.', '16297066', 'AT4G15210', 'BAM5', 313)
('AT4G15560', 'cla1-1', 'Mutant seeds grown on medium supplemented with non-phosphorylated synthetic 1-deoxy-D-xylulose (DX) develop green leaves.', '10982425', 'AT4G15560', 'DXS', 219)
('AT4G15570', 'maa3', 'Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.', '18772186', 'AT4G15570', 'MAA3', 294)
('AT4G15802', 'Athspb-2', 'Early flowering, reduced fertility, aborted seeds.', '20388662', 'AT4G15802', 'HSBP', 254)
('AT4G15880', 'esd4-2', 'Decreased mRNA levels of the floral repressors FLC and MAF4 and increased mRNA levels of the floral activators FT and SOC1.', '17513499', 'AT4G15880', 'ESD4', 265)
('AT4G16420', 'prz1-1', 'Altered response to auxin and cytokinin', '12747832', 'AT4G16420', 'ADA2B', 279)
('AT4G16480', 'atint4-2', 'No visible phenotype.', '16603666', 'AT4G16480', 'INT4', 284)
('AT5G10480', 'pas2-3', 'Segregates 25% embryo lethal.', '18799749', 'AT5G10480', 'PAS2', 301)
('AT5G10510', 'plt3-1', 'Short roots and shortened root meristem.', '17960244', 'AT5G10510', 'AIL6', 310)
('AT5G11110', 'kns2', 'Defects are specific to pollen exine structure. Smaller mesh size in the exine structure. Increased number of baculae. Fully fertile.', '18779216', 'AT5G11110', 'SPS2', 232)
('AT5G11260', 'hy5-101', 'Under FRc conditions, the length mutant hypocotyls is increased compared to that of wild-type plants.  Under Rc conditions, the hypocotyl length is also increased and the cotyledon area is smaller.', '16891401', 'AT5G11260', 'HY5', 221)
('AT5G11510', 'myb3r4-1', 'No visible phenotype.', '17287251', 'AT5G11510', 'MYB3R-4', 336)
('AT5G12200', 'pyd2-2', 'The pyd2-2 mutant has a wild-type appearance under normal growth conditions. Pyrimidine nucleotide and uridine levels are not changed in the mutant, but uracil levels are increased. These mutants cannot grow normally when uracil is provided as a sole nitrogen source.', '19413687', 'AT5G12200', 'PYD2', 310)
('AT5G13290', 'crn-1', 'Increased meristem size. Vegetative meristems are are 30% larger than wild type. After bolting inflorescence meristems are enlarged and occasionally fasciated. Flowers occasionally produce extra organs in the first 3.', '12345678', 'AT5G13290', 'CRN', 189)

In [66]:
query2 = 'SELECT * FROM Germplasm, LocusGene WHERE (LocusGene.Gene = "SKOR" OR LocusGene.Gene = "MAA3") AND Germplasm.Locus = LocusGene.Locus'
reports(query2 ,'\tEjercicio 4 apartado 2\n\n\n')

('AT3G02850', 'CS3816', 'The skor-1 mutant is sensitive to toxic cations in addition to K+ depletion.', '17568770', 'AT3G02850', 'SKOR', 234)
('AT4G15570', 'maa3', 'Homozygotes are not recovered. Female gametophyte development is delayed and asynchronous. During fertilization, fusion of polar nuclei does not occur. Polar nuclei nucloeli are smaller than WT.', '18772186', 'AT4G15570', 'MAA3', 294)

#### This query counts the AGI codes, Germplasm.Locus 3,1 indicates that position 3 of the AGI code is taken into account for counting. The count will be performed for each digit from one to five.

In [67]:
query3 = """SELECT SUBSTRING(Germplasm.Locus, 3,1) AS 'Chromosome', count(*) AS 'Number' FROM Germplasm
        GROUP BY SUBSTRING(Germplasm.Locus, 3,1);"""
reports(query3,"\tEjercicio 4 apartado 3\n\n\n")

('1', 4)
('2', 4)
('3', 9)
('4', 8)
('5', 7)

In [68]:
query4 = """SELECT SUBSTRING(LocusGene.Locus, 3,1) AS 'Chromosome', AVG(ProteinLength) AS 'ProteinLength' FROM LocusGene
        GROUP BY SUBSTRING(LocusGene.Locus, 3,1);"""
reports(query4,"\tEjercicio 4 apartado 4\n")

('1', Decimal('258.7500'))
('2', Decimal('215.5000'))
('3', Decimal('252.0000'))
('4', Decimal('277.5000'))
('5', Decimal('271.2857'))

In [69]:
connection.close ()